{% extends "base.html" %}
{% block actions %}
<h3>Start a new game: 
  <a href="{% url 'play:newgame' view.game.EASY %}">Easy</a>
  or
  <a href="{% url 'play:newgame' view.game.HARD %}">Hard</a>
</h3>
{% endblock %}
{% block boards %}
  {% if not view.game.active %}
    <div class="section group">
    {% if view.game.won_by == view.game.PLAYER %}
   	<div class="col span_7_of_9">
		<h2>You win {{ user.username|capfirst }}!</h2>
	  <h3>My character is</h3>
	  <img src="{{STATIC_URL}}subjects/{{ view.game.computer_subject.filename }}.png" alt="">
	</div>
    {% elif view.game.won_by == view.game.COMPUTER %}
   	<div class="col span_7_of_9">
	  <h2>I win!</h2>
	  <h3>Your character is</h3>
	  <img src="{{STATIC_URL}}subjects/{{ view.game.player_subject.filename }}.png" alt="">
	</div>
    {% else %}
   	<div class="col span_7_of_9">
	  <h2>Hey, we both win!</h2>
	  <h3>My character is</h3>
	  <img src="{{STATIC_URL}}subjects/{{ view.game.computer_subject.filename }}.png" alt="">
	  <h3>and your character is</h3>
	  <img src="{{STATIC_URL}}subjects/{{ view.game.player_subject.filename }}.png" alt="">
	</div>
    {% endif %}
    </div>
  {% else %}
    <div class="section group">
      <div class="col span_7_of_9">
        <h2>THE GAME IS STILL ACTIVE! Please go back.</h2>
      </div>
    </div>
  {% endif %}
{% endblock %}
