{% extends "base.html" %}
{% block actions %}
  <h3>Start a new game: 
    <a href="{% url 'play:newgame' game.EASY %}">Easy</a>
    or
    <a href="{% url 'play:newgame' game.HARD %}">Hard</a>
  </h3>
{% endblock %}
{% block boards %}
    <div class="section group">
      <div class="col span_9_of_9">
        <h2>Computer's character is...</h2>
        {% for character in player_board %}
          {% if character.active %}
	    <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}.png" alt="">
	  {% else %}
	    <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-inactive.png" alt="">
	  {% endif %}
        {% endfor %}
        <h2>Pick a feature</h2>
	<p>
          {% for feature in player_features %}
	    <a href="{% url 'play:pickfeat' feature.id %}">{{ feature.description|upper }} ({{ feature.num_el_match }}), </a>
          {% endfor %}
	</p>
      </div>
    </div>
    <div class="section group">
      <div class="col span_9_of_9">
	<h2>{{ user.username|capfirst }}'s character is...</h2>
        {% for character in computer_board %}
          {% if character.active %}
            {% if character.subject != game.player_subject %}
	      <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}.png" alt="">
	    {% else %}
	      <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-target.png" alt="">
	    {% endif %}
	  {% else %}
	    <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-inactive.png" alt="">
	  {% endif %}
        {% endfor %}
        <h2>Features</h2>
	<p>
        {% for feature in computer_features %}
	    {{ feature.description }} ({{ feature.num_el_match }}),&nbsp;
        {% endfor %}
	</p>
      </div>
    </div>
{% endblock %}
