{% extends "base.html" %}
{% block header %}
	<h1>Guess Wu?</h1>
{% endblock %}
{% block actions %}
		<h3><a href="{% url 'play:newgame' %}">Start a new game</a></h3>
{% endblock %}
{% block board %}
	<div class="col span_7_of_9">
		<h2>Characters</h2>
		{% for character in character_list %}
		<a href="guess"><img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}" alt=""></a>
		{% endfor %}
	</div>
	<div class="col span_2_of_9">
		<h2>Features</h2>
		{% for feature in feature_list %}
		<a href="xyz">{{ feature.description }}({{ feature.num_el_match }})</a>
		{% endfor %}
	</div>
{% endblock %}
