{% extends "base.html" %}
{% block actions %}
  <h3><a href="{% url 'play:newgame' %}">Start a new game</a></h3>
{% endblock %}
{% block boards %}
  {% if not game.active %}
    <div class="section group">
    {% if game.won_by_player %}
   	<div class="col span_7_of_9">
	  <h2>You win! Computer's character is</h2>
	  <img src="{{STATIC_URL}}subjects/{{ game.computer_subject.filename }}.png" alt="">
	</div>
    {% else %}
   	<div class="col span_7_of_9">
	  <h2>The Computer wins! Your character is</h2>
	  <img src="{{STATIC_URL}}subjects/{{ game.player_subject.filename }}.png" alt="">
	</div>
    {% endif %}
    </div>
  {% else %}
    <div class="section group">
      <div class="col span_7_of_9">
        <h2>Computer's character is...</h2>
        {% for character in player_board %}
          {% if character.active %}
	    <a href="guess"><img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}.png" alt=""></a>
	  {% else %}
	    <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-inactive.png" alt="">
	  {% endif %}
        {% endfor %}
      </div>
      <div class="col span_2_of_9">
        <h2>Features</h2>
        {% for feature in player_features %}
	  {% if feature.num_el_match %}
            <p>
	    <a href="{% url 'play:pickfeat' feature.id %}">{{ feature.description }} ({{ feature.num_el_match }})</a>
	    </p>
	  {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="section group">
      <div class="col span_7_of_9">
	<h2>{{ user.username }}'s character is...</h2>
        {% for character in computer_board %}
          {% if character.active %}
            {% if character.subject != game.player_subject %}
	      <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}.png" alt="">
	    {% else %}
	      <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-target.png" alt="">
	    {% endif %}
	  {% else %}
	    <img src="{{STATIC_URL}}subjects/{{ character.subject.filename }}-inactive.png" alt="">
	  {% endif %}
        {% endfor %}
      </div>
      <div class="col span_2_of_9">
        <h2>Features</h2>
        {% for feature in computer_features %}
          <p>
	    {{ feature.description }} ({{ feature.num_el_match }})
	  </p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
